<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyTalk client .xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>KeyTalk client.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KeyTalk client.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>LauncherApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>099887CA21BA55E900D3E111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0998884721BA5CE200D3E111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
